* {
	font-family: Verdana, Tahoma, Sans-Serif;
    color: #FFFFFF;

    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;

    
}

/* ********************************************************************************************************** */
/* ******************************************************************************************* BARRA DE MENU. */
.header {
    height: 98%;
    width: 30%;

    margin-left: 0.6%;
    margin-top: 0.6%;

    position: fixed;
    clear: right;
}

.menu {
    height: 33%;
    width: 100%;
    opacity: 0.9;
    
    display: inline-block;

    text-align: right;
}

.menu h2 {
    margin-top: 41%;
    margin-right: 7%;
    margin-bottom: 3%;
}

#category {
	border-top-left-radius: 8px;
    background-color: #D74F33;
    margin-bottom: 0.5%;
}

#fighter {
    background-color: #C76444;
    margin-bottom: 0.5%;
}

#fight {
    border-bottom-left-radius: 8px;
    background-color: #B37F56;
    margin-bottom: 0.5%;
}

.menuCategoryDropdown, .menuFighterDropdown, .menuFightDropdown {
    height: 19.3%;
    width: 100%;
    opacity: 0.7;
}

.menuCategoryDropdown h5, .menuFighterDropdown h5, .menuFightDropdown h5 {
    margin-right: 7%;
    padding-top: 3.5%;
}

.menuCategoryDropdown {
    background-color: #D96651;
}

.menuFighterDropdown {
    background-color: #CA765D;
}

.menuFightDropdown {
    background-color: #B98C6B;
}

/* ********************************************************************************************************** */
/* ************************************************************************************************ CONTEÚDO. */
#content {
	height: 97.5%;
    width: 68.8%;

    margin-top: 0.6%;
    margin-right: 0.6%;
    margin-left: 30.8%;

    display: inline-block;
    clear: left;

    border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;

    opacity: 0.9;
	background-color: #9C9B79;
    text-align: center;
}

#content h2 {
    margin-top: 30%;
}

#inputSaveCategory, #inputSearchCategory, #outputSaveCategory, #outputSearchCategory {
    width: 85%;
    height: 45%;

    margin-left: 7.5%;

    border-color: #FFFFFF;
    border-width: 1px;
    border-style: dashed;
    
    /*background-color: #FFDAB9;*/
}

#inputSaveCategory, #inputSearchCategory {
    margin-top: 1%;
    border-top-right-radius: 8px;
}

#outputSaveCategory, #outputSearchCategory {
    margin-top: 1.5%;
    border-bottom-right-radius: 8px;
}

/* ****************************************************************************** Melhorar os contents. */
form {
    height: 80%;

    margin-top: 4%;
}

form label, form input {
    margin-bottom: 4%;
    margin-top: 2%;
}

form input {
    background-color: #B98C6B;
}

#inputSaveCategory form input:nth-child(4), #inputSaveCategory form input:nth-child(5) {
    
}

